{% if matchlistHideCol is not defined %}
	{% set matchlistHideCol = [] %}
{% endif %}
{% if showAllLink is not defined %}
	{% set showAllLink = false %}
{% endif %}
{% if pagination is defined %}
	{% set matchInfos = pagination %}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endif %}
{% set showWinCol = matchInfos[0] is defined and matchInfos[0].wonMatch is defined %}
{% set tableColCount = 5 %}
{% if showWinCol %}
	{% set tableColCount = 6 %}
{% endif %}
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr class="d-none d-sm-table-row">
				{% if showWinCol %}
					<th scope="col"></th>
				{% endif %}
				<th scope="col">Date/Time</th>
				{% if 'gametype' not in matchlistHideCol %}
					<th scope="col">Game Type</th>
				{% endif %}
				{% if 'map' not in matchlistHideCol %}
					<th scope="col">Map</th>
				{% endif %}
				<th scope="col">
					<span class="d-none d-md-inline">Players</span>
					<span class="d-none d-sm-inline d-md-none">Plrs</span>
				</th>
				<th scope="col">Time</th>
			</tr>
			<tr class="d-table-row d-sm-none">
				{% if showWinCol %}
					<th scope="col" rowspan="2"></th>
				{% endif %}
				<th scope="col" rowspan="2">Date/Time</th>
				<th scope="col">Game Type</th>
				<th scope="col">Players</th>
			</tr>
			<tr class="d-table-row d-sm-none">
				<th scope="col">Map</th>
				<th scope="col">Time</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for matchInfo in matchInfos %}
				<tr class="d-none d-sm-table-row">
					{% if showWinCol %}
						<td scope="row" class="{% if matchInfo.wonMatch %}team-green{% else %}team-red{% endif %}" data-bs-toggle="tooltip" data-bs-title="{% if matchInfo.wonMatch %}Won match{% else %}Lost match{% endif %}"></td>
					{% endif %}
					<td scope="row">
						<a href="{{ path('matchinfo', {'hash': matchInfo.hash}) }}">{{ user_date(matchInfo.date) }}</a>
					</td>
					{% if 'gametype' not in matchlistHideCol %}
						<td>{{ matchInfo.gametype}}</td>
					{% endif %}
					{% if 'map' not in matchlistHideCol %}
						<td>{{ matchInfo.map}}</td>
					{% endif %}
					<td>{{ matchInfo.players }}</td>
					<td>{{ matchInfo.matchTime | humanize_seconds }}</td>
				</tr>
				<tr class="d-table-row d-sm-none">
					{% if showWinCol %}
						<td scope="row" rowspan="2" class="{% if matchInfo.wonMatch %}team-green{% else %}team-red{% endif %}" data-bs-toggle="tooltip" data-bs-title="{% if matchInfo.wonMatch %}Won match{% else %}Lost match{% endif %}"></td>
					{% endif %}
					<td scope="row" rowspan="2">
						<a href="{{ path('matchinfo', {'hash': matchInfo.hash}) }}">{{ user_date(matchInfo.date) }}</a>
					</td>
					<td>{{ matchInfo.gametype}}</td>
					<td>{{ matchInfo.players }}</td>
				</tr>
				<tr class="d-table-row d-sm-none">
					<td>{{ matchInfo.map}}</td>
					<td>{{ matchInfo.matchTime | humanize_seconds }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="{{ tableColCount }}" class="text-center">No matches have been logged yet</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% if showAllLink %}
	<div class="container text-center">
		{% if player is defined %}
			<a href="{{ path('matchinfo_list', {'player': player.id}) }}">Show all matches for player</a>
		{% else %}
			<a href="{{ path('matchinfo_list') }}">Show all matches</a>
		{% endif %}
	</div>
{% endif %}
{% if pagination is defined %}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endif %}
