<div class="d-none d-md-block">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Matches</th>
					<th scope="col">Score</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">Frags</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">Kills</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">Deaths</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">Suicides</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">Team Kills</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr>
					<td>{{ total.matches | number_format }}</td>
					<td>{{ total.score | number_format }}</td>
					<td>{{ total.frags | number_format }}</td>
					<td>{{ total.kills | number_format }}</td>
					<td>{{ total.deaths | number_format }}</td>
					<td>{{ total.suicides | number_format }}</td>
					<td>{{ total.teamKills | number_format }}</td>
					<td>{{ total.matchTime | humanize_seconds }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="d-none d-sm-block d-md-none">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Matches</th>
					<th scope="col">Score</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">Frags</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">Kills</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr>
					<td>{{ total.matches | number_format }}</td>
					<td>{{ total.score | number_format }}</td>
					<td>{{ total.frags | number_format }}</td>
					<td>{{ total.kills | number_format }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">Deaths</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">Suicides</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">Team Kills</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr>
					<td>{{ total.deaths | number_format }}</td>
					<td>{{ total.suicides | number_format }}</td>
					<td>{{ total.teamKills | number_format }}</td>
					<td>{{ total.matchTime | humanize_seconds }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="d-block d-sm-none">
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tbody>
				<tr>
					<th scope="row">Matches</th>
					<td>{{ total.matches | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Score</th>
					<td>{{ total.score | number_format }}</td>
				</tr>
				<tr>
					<th scope="row" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">Frags</th>
					<td>{{ total.frags | number_format }}</td>
				</tr>
				<tr>
					<th scope="row" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">Kills</th>
					<td>{{ total.kills | number_format }}</td>
				</tr>
				<tr>
					<th scope="row" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">Deaths</th>
					<td>{{ total.deaths | number_format }}</td>
				</tr>
				<tr>
					<th scope="row" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">Suicides</th>
					<td>{{ total.suicides | number_format }}</td>
				</tr>
				<tr>
					<th scope="row" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">Team Kills</th>
					<td>{{ total.teamKills | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Time</th>
					<td>{{ total.matchTime | humanize_seconds }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
