{% extends 'base.html.twig' %}

{% block title %}
	Admin
{% endblock %}

{% block h1 %}
	UTStatsX Admin
{% endblock %}

{% block body %}
	<p>
		Admin page isn't ready yet. Go check out the
		<a href="{{ path('admin_import') }}">import page</a>
		instead!
	</p>

	<p>
		Your logs would go in a new folder at
		<code>../var/ut_logs</code>, relative to the src folder:
	</p>

	<pre><code>UTStatsX
 |-- bin
 |-- config
 |-- migrations
 |-- public
 |-- src
 |-- templates
 |-- tests
 |-- translations
 \-- var
      \-- ut_logs     <-- right here
           |-- Unreal.ngLog.2023.06.28.14.59.07.7777.log
           |-- Unreal.ngLog.2023.06.28.15.18.19.7777.log
           \-- Unreal.ngLog.2023.06.28.15.35.17.7777.log</code></pre>

	<p>If the importer mentions log warnings or errors, open an issue and include the log file!</p>

	<p>Next up:</p>

	<ol>
		<li>Make the entire public facing stat displaying part</li>
		<li>Make an admin login</li>
		<li>Make admin settings pages to configure how we log and show stats</li>
	</ol>
{% endblock %}
