@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl,
    .container-fluid {
        max-width: 960px;
    }
}
@media (min-width: 576px) {
    #bottom-nav {
        max-width: 540px;
    }
}
.table-columned > :not(caption) > * > *:not(:last-child) {
    /* From Bootstrap: ".table > :not(caption) > * > *" -> border-bottom-width: var(--bs-border-width); */
    border-right-width: var(--bs-border-width);
}
.table-hover > tbody > tr:hover.no-hover > * {
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
}
h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}
.container > h2 {
    margin-top: 3rem;
}
.container > h3 {
    margin-top: 2rem;
}
#top-nav {
    margin-bottom: 1rem;
}
footer {
    margin-top: 4rem;
}
.team-red {
    color: #fff !important;
    background: linear-gradient(#b40101, #870202) !important;
}
.team-blue {
    color: #fff !important;
    background: linear-gradient(#2069a1, #194c74) !important;
}
.team-green {
    color: #fff !important;
    background: linear-gradient(#278040, #216635) !important;
}
.team-gold {
    color: #000 !important;
    background: linear-gradient(#efc100, #e0b501) !important;
}
.vertical-text-div {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
