{% extends 'base.html.twig' %}

{% block body %}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% if block('search') is not empty %}
		<div class="search">
			{% block search %}{##}{% endblock %}
		</div>
	{% endif %}
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					{% block list_columns %}{% endblock %}
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for row in pagination %}
					<tr>
						{% block list_row_data %}{% endblock %}
					</tr>
				{% else %}
					<tr>
						{% block list_no_data %}{% endblock %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
