<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% if block('title') is not empty %}
				{% block title %}{% endblock %}
				-
			{% endif %}UTStatsX
		</title>
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	</head>

	<body id="{% block body_id %}{% endblock %}">
		{% block header %}
			<nav id="top-nav" class="navbar navbar-expand-sm bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('index') }}">UTStatsX</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							{% block header_navigation_links %}
								<a class="nav-link{% if activenav is defined and activenav == 'match' %} active{% endif %}" href="{{ path('matchinfo_list') }}">Matches</a>
								<a class="nav-link{% if activenav is defined and activenav == 'player' %} active{% endif %}" href="{{ path('player_list') }}">Players</a>
								<a class="nav-link{% if activenav is defined and activenav == 'ranking' %} active{% endif %}" href="#">Rankings</a>
								<a class="nav-link{% if activenav is defined and activenav == 'total' %} active{% endif %}" href="{{ path('totals') }}">Totals</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="nav-link" href="{{ path('admin_index') }}">
										<i class="fa fa-lock" aria-hidden="true"></i>
										{{ 'menu.admin'|trans }}
									</a>
								{% endif %}
							{% endblock %}
						</div>
					</div>
				</div>
			</nav>
		{% endblock %}

		<div class="container">
			{% if block('h1') is not empty %}
				<h1 class="display-3">
					{% block h1 %}{##}{% endblock %}
				</h1>
			{% endif %}
			{% if block('lead') is not empty %}
				<p class="lead">
					{% block lead %}{##}{% endblock %}
				</p>
			{% endif %}
			{% block body %}
				{##}
			{% endblock %}
		</div>

		<footer>
			{% block footer %}
				<div id="bottom-nav" class="container text-center">
					<div class="row mb-3 g-3">
						<div class="col">
							<a href="{{ path('map_list') }}" class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Maps</a>
						</div>
						<div class="col">
							<a href="{{ path('gametype_list') }}" class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Game&nbsp;Types</a>
						</div>
						<div class="col">
							<a href="#" class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Servers</a>
						</div>
						<div class="col">
							<a href="{{ path('admin') }}" class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Admin</a>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="text-muted credit">
								<a href="https://codeberg.org/PhasecoreX/UTStatsX" title="UTStatsX source code" class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">UTStatsX</a>
								&copy;
								{{ 'now'|date('Y') }}
								PhasecoreX
							</p>
						</div>
					</div>
				</div>
			{% endblock %}
		</footer>
	</body>
</html>
