{% extends 'base.html.twig' %}

{% block title %}
	{{ gameType.name }}
{% endblock %}

{% block h1 %}
	{{ gameType.name }}
{% endblock %}

{% block body %}
	<h2 class="display-6">Game Type Totals</h2>
	{{ include('include/match_totals_table.html.twig') }}
	<h2 class="display-6">Top Rankings</h2>
	<h2 class="display-6">Latest Matches</h2>
	{{ include('include/match_list.html.twig', {matchlistHideCol: ['gametype']}) }}
{% endblock %}
