{% extends 'base.html.twig' %}

{% block body %}
	<div class="row row-cols-2 row-cols-sm-3 mt-3 g-3">
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Total Score
					<h1 class="no-margin">{{ total.score | number_format }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Total Frags
					<h1 class="no-margin">{{ total.frags | number_format }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Total Kills
					<h1 class="no-margin">{{ total.kills | number_format }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Matches Logged
					<h1 class="no-margin">{{ total.matches | number_format }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Players
					<h1 class="no-margin">{{ total.players | number_format }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Player Time
					<h1 class="no-margin">{{ total.matchplayertime | humanize_seconds }}</h1>
				</div>
			</div>
		</div>
	</div>
	<h2 class="display-6">Recent Matches</h2>
	{{ include('include/match_list.html.twig', {'showAllLink': true}) }}
{% endblock %}
