{% extends 'base.html.twig' %}

{% block title %}
	{{ map.name }}
{% endblock %}

{% block h1 %}
	{{ map.name }}
{% endblock %}

{% block lead %}
	"{{ map.title }}" by
	{{ map.author }}
{% endblock %}

{% block body %}
	<h2 class="display-6">Map Totals</h2>
	{{ include('include/match_totals_table.html.twig') }}
	<h2 class="display-6">Latest Matches</h2>
	{{ include('include/match_list.html.twig', {matchlistHideCol: ['map']}) }}
{% endblock %}
