{% extends 'base_pagination_list.html.twig' %}

{% block title %}
	Maps
{% endblock %}

{% block h1 %}
	Map List
{% endblock %}

{% block search %}
	{{ knp_pagination_filter(pagination, {'name': 'Map Name'}) }}
{% endblock %}

{% block list_columns %}
	<th scope="col">{{ knp_pagination_sortable(pagination, 'Map Name', 'name') }}</th>
	<th scope="col">{{ knp_pagination_sortable(pagination, 'Matches', 'matches') }}</th>
	<th scope="col">{{ knp_pagination_sortable(pagination, 'Total Score', 'totalScore') }}</th>
	<th scope="col">{{ knp_pagination_sortable(pagination, 'Time', 'matchTime') }}</th>
	<th scope="col">{{ knp_pagination_sortable(pagination, 'Last Match', 'lastMatch') }}</th>
{% endblock %}

{% block list_row_data %}
	<td scope="row">
		<a href="{{ path('map', {'hash': row.hash}) }}">{{ row.name }}</a>
	</td>
	<td>{{ row.matches | number_format }}</td>
	<td>{{ row.totalScore | number_format }}</td>
	<td>{{ row.matchTime | humanize_seconds }}</td>
	<td>{{ user_date(row.lastMatch) }}</td>
{% endblock %}

{% block list_no_data %}
	<td colspan="5" class="text-center">No maps have been logged yet</td>
{% endblock %}
