{% extends 'base.html.twig' %}

{% set activenav = 'match' %}

{% block title %}
	Matches
{% endblock %}

{% block h1 %}
	Match List
	{% if player is not null %}
		<small class="text-body-secondary">for
			{{ player.name }}</small>
	{% endif %}
{% endblock %}

{% block body %}
	{{ include('include/match_list.html.twig') }}
{% endblock %}
