{% extends 'base.html.twig' %}

{% set activenav = 'match' %}

{% block title %}
	Match Stats
{% endblock %}

{% block h1 %}
	Match Stats
{% endblock %}

{% block lead %}
	<a href="{{ path('gametype', {'slug': matchInfo.gametype.slug}) }}" class="link-secondary">{{ matchInfo.gameType.name }}</a>
	on
	<a href="{{ path('map', {'hash': matchInfo.map.hash}) }}" class="link-secondary">{{ matchInfo.map.name }}</a>
	<br>
	Match started on
	{{ user_date(matchInfo.date) }}
{% endblock %}

{% block body %}
	<div class="row row-cols-2 row-cols-sm-3 mt-3 g-3">
		<div class="col">
			{% if matchInfo.teamCount > 0 %}
				<div class="card team-{{ team_name(matchInfo.teamScores[0].team) }} border border-0">
					<div class="card-body">
						Winning Team
						<h1 class="no-margin">{{ team_name(matchInfo.teamScores[0].team) | title }}
							Team</h1>
					</div>
				</div>
			{% else %}
				<div class="card bg-body-tertiary border border-0">
					<div class="card-body">
						Winner
						<h1 class="no-margin">{{ matchPlayers[0].name }}</h1>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					{% if matchInfo.gameType.scoreboard == 'lms' %}
						Starting Lives
						<h1 class="no-margin">{{ matchInfo.fragLimit }}</h1>
					{%  elseif matchInfo.teamCount > 0 %}
						Team Score Limit
						<h1 class="no-margin">{{ matchInfo.goalTeamScore | none_zero }}</h1>
					{% else %}
						Frag Limit
						<h1 class="no-margin">{{ matchInfo.fragLimit | none_zero }}</h1>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card bg-body-tertiary border border-0">
				<div class="card-body">
					Time Limit
					<h1 class="no-margin">{{ matchInfo.timeLimit | humanize_minutes | none_zero }}</h1>
				</div>
			</div>
		</div>
	</div>
	{% if matchInfo.teamCount > 0 %}
		<h2 class="display-6">Team Summary</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					{% set firstTeam = true %}
					{% for teamId, teamPlayers in matchPlayersByTeam %}
						{% if not firstTeam %}
							<tr class="no-hover">
								<th scope="col" colspan="12" class="border border-0">&nbsp;</th>
							</tr>
						{% endif %}
						<tr class="no-hover">
							{% if teamId >= 0 %}
								<th scope="col" colspan="12" class="team-{{ team_name(teamId) }}">{{ team_name(teamId) | title }}
									Team
									{%- if teamId >= 0 -%}:
										{{ teamScore[teamId] }}
									{% endif %}
								</th>
							{% else %}
								<th scope="col" colspan="12">No Team</th>
							{% endif %}
						</tr>
						{% if teamPlayers %}
							<tr class="no-hover">
								<th scope="col">Player</th>
								{% if matchInfo.gameType.scoreboard == 'lms' %}
									<th scope="col">Lives Left</th>
								{% endif %}
								<th scope="col">Score</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">F</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">K</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">D</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">S</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">TK</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Deaths: Number of times a player is killed by a player on their team">TD</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Efficiency: Ratio showing a players kill skill by comparing kills to overall performance.<br><br>Formula: Kills / (Kills + Deaths + Suicides + Team Kills)">Eff.</th>
								<th scope="col" data-bs-toggle="tooltip" data-bs-title="Time to Live: The total time a player is in a game divided by how many times they died, giving an average time of how long they are expected to live">TTL</th>
								<th scope="col">Time</th>
							</tr>
							{% set firstRow = true %}
							{% for matchPlayer in teamPlayers %}
								<tr {% if firstRow %} class="table-group-divider" {% endif %}>
									<td>
										<a href="{{ path('player', {'id': matchPlayer.playerid}) }}" class="link-{{ bootstrap_team(teamId) }}">{{ matchPlayer.name }}</a>
									</td>
									{% if matchInfo.gameType.scoreboard == 'lms' %}
										<td>{{ matchPlayer.lives }}</td>
									{% endif %}
									<td>{{ matchPlayer.score }}</td>
									<td>{{ matchPlayer.frags }}</td>
									<td {% if matchPlayer.kills == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.kills }}</td>
									<td {% if matchPlayer.deaths == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.deaths }}</td>
									<td {% if matchPlayer.suicides == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.suicides }}</td>
									<td {% if matchPlayer.teamKills == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.teamKills }}</td>
									<td {% if matchPlayer.teamDeaths == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.teamDeaths }}</td>
									<td>{{ matchPlayer.efficiency | round(2) }}%</td>
									<td>{{ matchPlayer.ttl | humanize_seconds }}</td>
									<td>{{ matchPlayer.matchplayertime | humanize_seconds }}</td>
								</tr>
								{% set firstRow = false %}
							{% endfor %}
							<tr class="table-group-divider no-hover">
								<td>Total</td>
								{% if matchInfo.gameType.scoreboard == 'lms' %}
									<td>{{ teamTotal[teamId].lives }}</td>
								{% endif %}
								<td>{{ teamTotal[teamId].score }}</td>
								<td>{{ teamTotal[teamId].frags }}</td>
								<td>{{ teamTotal[teamId].kills }}</td>
								<td>{{ teamTotal[teamId].deaths }}</td>
								<td>{{ teamTotal[teamId].suicides }}</td>
								<td>{{ teamTotal[teamId].teamKills }}</td>
								<td>{{ teamTotal[teamId].teamDeaths }}</td>
								<td>{{ teamTotal[teamId].efficiency | round(2) }}%</td>
								<td></td>
								<td></td>
							</tr>
						{% else %}
							<tr class="no-hover">
								<td colspan="12" class="text-center">No players</td>
							</tr>
						{% endif %}
						{% set firstTeam = false %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h2 class="display-6">Player Summary</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Player</th>
						{% if matchInfo.gameType.scoreboard == 'lms' %}
							<th scope="col">Lives Left</th>
						{% endif %}
						<th scope="col">Score</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">F</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">K</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">D</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">S</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Efficiency: Ratio showing a players kill skill by comparing kills to overall performance.<br><br>Formula: Kills / (Kills + Deaths + Suicides + Team Kills)">Eff.</th>
						<th scope="col" data-bs-toggle="tooltip" data-bs-title="Time to Live: The total time a player is in a game divided by how many times they died, giving an average time of how long they are expected to live">TTL</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					{% for matchPlayer in matchPlayers %}
						<tr>
							<td>
								<a href="{{ path('player', {'id': matchPlayer.playerid}) }}">{{ matchPlayer.name }}</a>
							</td>
							{% if matchInfo.gameType.scoreboard == 'lms' %}
								<td>{{ matchPlayer.lives }}</td>
							{% endif %}
							<td>{{ matchPlayer.score }}</td>
							<td>{{ matchPlayer.frags }}</td>
							<td {% if matchPlayer.kills == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.kills }}</td>
							<td {% if matchPlayer.deaths == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.deaths }}</td>
							<td {% if matchPlayer.suicides == 0 %} class="text-secondary text-opacity-25" {% endif %}>{{ matchPlayer.suicides }}</td>
							<td>{{ matchPlayer.efficiency | round(2) }}%</td>
							<td>{{ matchPlayer.ttl | humanize_seconds }}</td>
							<td>{{ matchPlayer.matchplayertime | humanize_seconds }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	<h2 class="display-6">Kills Match Up</h2>
	<div class="table-responsive">
		<table class="table table-hover table-bordered mx-auto p-2" style="width: auto">
			<thead>
				<tr>
					<th scope="col" rowspan="2" colspan="2" class="text-center" style="font-size:5rem;">&#x21B1;</th>
					{% for matchPlayer in matchPlayers %}
						<th scope="col">
							<div class="vertical-text-div">{{ matchPlayer.name }}</div>
						</th>
					{% endfor %}
				</tr>
				<tr>
					{% for matchPlayer in matchPlayers %}
						<th scope="col" class="text-center{% if matchPlayer.team >= 0 %} team-{{ team_name(matchPlayer.team) }}{% endif %}">&#x1F480;</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for killer in matchPlayers %}
					<tr>
						<th scope="row">{{ killer.name | nowrap }}</th>
						<th scope="row" {% if killer.team >= 0 %} class="text-center team-{{ team_name(killer.team) }}" {% endif %}>&#x1F7C4;</th>
						{% for victim in matchPlayers %}
							<th class="text-center{% if killer.id == victim.id %} table-secondary{% endif %}">{{ killMatchup[killer.id][victim.id] | blank_zero }}</th>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<h2 class="display-6">Weapon Summary</h2>
	<h2 class="display-6">Special Events</h2>
	<h2 class="display-6">Pickups Summary</h2>
{% endblock %}
