{% extends 'base.html.twig' %}

{% set activenav = 'player' %}

{% block title %}
	Players
{% endblock %}

{% block h1 %}
	Player List
{% endblock %}

{% block body %}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	<div class="search">
		{{ knp_pagination_filter(pagination, {'name': 'Player'}) }}
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-columned">
			<thead>
				<tr>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Player', 'name') }}</th>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Matches', 'matches') }}</th>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Score', 'score') }}</th>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Frags', 'frags', {'data-bs-toggle': 'tooltip', 'title':'Frags: Total number of kills, minus suicides and team kills'}) }}</th>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Kills', 'kills', {'data-bs-toggle': 'tooltip', 'title':'Kills: Number of times a player kills another player'}) }}</th>
					<th scope="col" class="d-none d-md-table-cell">{{ knp_pagination_sortable(pagination, 'Deaths', 'deaths', {'data-bs-toggle': 'tooltip', 'title':'Deaths: Number of times a player is killed by another player (or the environment)'}) }}</th>
					<th scope="col" class="d-none d-md-table-cell">{{ knp_pagination_sortable(pagination, 'Suicides', 'suicides', {'data-bs-toggle': 'tooltip', 'title':'Suicides: Number of times a player dies due to their own actions'}) }}</th>
					<th scope="col" class="d-none d-lg-table-cell">{{ knp_pagination_sortable(pagination, 'Eff.', 'efficiency', {'data-bs-toggle': 'tooltip', 'data-bs-html': 'true', 'title':'Efficiency: Ratio showing a players kill skill by comparing kills to overall performance.<br><br>Formula: Kills / (Kills + Deaths + Suicides + Team Kills)'}) }}</th>
					<th scope="col" class="d-none d-lg-table-cell">{{ knp_pagination_sortable(pagination, 'TTL', 'ttl', {'data-bs-toggle': 'tooltip', 'title':'Time to Live: The total time a player is in a game divided by how many times they died, giving an average time of how long they are expected to live'}) }}</th>
					<th scope="col">{{ knp_pagination_sortable(pagination, 'Time', 'matchplayertime') }}</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for player in pagination %}
					<tr>
						<td scope="row">
							<a href="{{ path('player', {'id': player.id}) }}">{{ player.name }}</a>
						</td>
						<td>{{ player.matches | number_format }}</td>
						<td>{{ player.score | number_format }}</td>
						<td>{{ player.frags | number_format }}</td>
						<td>{{ player.kills | number_format }}</td>
						<td class="d-none d-md-table-cell">{{ player.deaths | number_format }}</td>
						<td class="d-none d-md-table-cell">{{ player.suicides | number_format }}</td>
						<td class="d-none d-lg-table-cell">{{ player.efficiency | round(2) }}%</td>
						<td class="d-none d-lg-table-cell">{{ player.ttl | humanize_seconds }}</td>
						<td>{{ player.matchplayertime | humanize_seconds }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10" class="text-center">No players have been logged yet</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
