{% extends 'base.html.twig' %}

{% set activenav = 'player' %}

{% block title %}
	{{ player.name }}
{% endblock %}

{% block h1 %}
	{{ player.name }}
{% endblock %}

{% block body %}
	<h2 class="display-6">Career Summary</h2>
	<div class="table-responsive">
		<table class="table table-hover table-columned">
			<thead>
				<tr>
					<th scope="col">Game Type</th>
					<th scope="col">Score</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">F</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">K</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">D</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">S</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">TK</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Deaths: Number of times a player is killed by a player on their team">TD</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Efficiency: Ratio showing a players kill skill by comparing kills to overall performance.<br><br>Formula: Kills / (Kills + Deaths + Suicides + Team Kills)">Eff.</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Time to Live: The total time a player is in a game divided by how many times they died, giving an average time of how long they are expected to live">TTL</th>
					<th scope="col">Matches</th>
					<th scope="col">Wins</th>
					<th scope="col">Win&nbsp;%</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for gametype in gametypes %}
					<tr>
						<td>{{ gametype.gametype }}</td>
						<td>{{ gametype.score | number_format }}</td>
						<td>{{ gametype.frags | number_format }}</td>
						<td>{{ gametype.kills | number_format }}</td>
						<td>{{ gametype.deaths | number_format }}</td>
						<td>{{ gametype.suicides | number_format }}</td>
						<td>{{ gametype.teamKills | number_format }}</td>
						<td>{{ gametype.teamDeaths | number_format }}</td>
						<td>{{ gametype.efficiency | round(2) }}%</td>
						<td>{{ gametype.ttl | humanize_seconds }}</td>
						<td>{{ gametype.matches | number_format }}</td>
						<td>{{ gametype.wins | number_format }}</td>
						<td>{{ gametype.winpercent | round(2) }}%</td>
						<td>{{ gametype.matchplayertime | humanize_seconds }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="14" class="text-center">{{player.name}}
							hasn't played any matches yet</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot class="table-group-divider">
				<tr>
					<td>Totals</td>
					<td>{{ gametypeTotal.score | number_format }}</td>
					<td>{{ gametypeTotal.frags | number_format }}</td>
					<td>{{ gametypeTotal.kills | number_format }}</td>
					<td>{{ gametypeTotal.deaths | number_format }}</td>
					<td>{{ gametypeTotal.suicides | number_format }}</td>
					<td>{{ gametypeTotal.teamKills | number_format }}</td>
					<td>{{ gametypeTotal.teamDeaths | number_format }}</td>
					<td>{{ gametypeTotal.efficiency | round(2) }}%</td>
					<td>{{ gametypeTotal.ttl | humanize_seconds }}</td>
					<td>{{ gametypeTotal.matches | number_format }}</td>
					<td>{{ gametypeTotal.wins | number_format }}</td>
					<td>{{ gametypeTotal.winpercent | round(2) }}%</td>
					<td>{{ gametypeTotal.matchplayertime | humanize_seconds }}</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<h2 class="display-6">Ranking</h2>
	<h2 class="display-6">Game Type Specific Stats</h2>
	<h3>Capture the Flag</h3>
	<div class="d-none d-sm-block">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Captures</th>
					<th scope="col">Returns</th>
					<th scope="col">Takes</th>
					<th scope="col">Pickups</th>
					<th scope="col">Drops</th>
					<th scope="col">Kills</th>
					<th scope="col">Covers</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr>
					<td>{{ playerEventTotal.flag_capture | number_format }}</td>
					<td>{{ playerEventTotal.flag_return | number_format }}</td>
					<td>{{ playerEventTotal.flag_take | number_format }}</td>
					<td>{{ playerEventTotal.flag_pickup | number_format }}</td>
					<td>{{ playerEventTotal.flag_drop | number_format }}</td>
					<td>{{ killAttributeTotal.flag_kill | number_format }}</td>
					<td>{{ killAttributeTotal.flag_cover | number_format }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-block d-sm-none">
		<table class="table table-striped">
			<tr>
				<th scope="row">Captures</th>
				<td class="w-25">{{ playerEventTotal.flag_capture }}</td>
			</tr>
			<tr>
				<th scope="row">Returns</th>
				<td>{{ playerEventTotal.flag_return | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Takes</th>
				<td>{{ playerEventTotal.flag_take | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Pickups</th>
				<td>{{ playerEventTotal.flag_pickup | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Drops</th>
				<td>{{ playerEventTotal.flag_drop | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Kills</th>
				<td>{{ killAttributeTotal.flag_kill | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Covers</th>
				<td>{{ killAttributeTotal.flag_cover | number_format }}</td>
			</tr>
		</table>
	</div>
	<h3>Assault and Domination</h3>
	<div class="d-none d-sm-block">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Assault Objectives</th>
					<th scope="col">Control Point Captures</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr>
					<td>{{ playerEventTotal.assault_objective | number_format }}</td>
					<td>{{ playerEventTotal.dom_capture | number_format }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-block d-sm-none">
		<table class="table table-striped">
			<tr>
				<th scope="row">Assault Objectives</th>
				<td class="w-25">{{ playerEventTotal.assault_objective | number_format }}</td>
			</tr>
			<tr>
				<th scope="row">Control Point Captures</th>
				<td>{{ playerEventTotal.dom_capture | number_format }}</td>
			</tr>
		</table>
	</div>
	{% if scoreboard.jb is defined and scoreboard.jb %}
		<h3>Jailbreak</h3>
		<div class="d-none d-sm-block">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Team Captures</th>
						<th scope="col">Team Releases</th>
						<th scope="col">Arena Wins</th>
						<th scope="col">Arena Ties</th>
						<th scope="col">Arena Losses</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr>
						<td>{{ playerEventTotal.jb_capture_team | number_format }}</td>
						<td>{{ playerEventTotal.jb_release_team | number_format }}</td>
						<td>{{ playerEventTotal.jb_arena_win | number_format }}</td>
						<td>{{ playerEventTotal.jb_arena_tie | number_format }}</td>
						<td>{{ playerEventTotal.jb_arena_lose | number_format }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-block d-sm-none">
			<table class="table table-striped">
				<tr>
					<th scope="row">Team Captures</th>
					<td class="w-25">{{ playerEventTotal.jb_capture_team | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Team Releases</th>
					<td>{{ playerEventTotal.jb_release_team | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Arena Wins</th>
					<td>{{ playerEventTotal.jb_arena_win | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Arena Ties</th>
					<td>{{ playerEventTotal.jb_arena_tie | number_format }}</td>
				</tr>
				<tr>
					<th scope="row">Arena Losses</th>
					<td>{{ playerEventTotal.jb_arena_lose | number_format }}</td>
				</tr>
			</table>
		</div>
	{% endif %}
	<h2 class="display-6">Special Events</h2>
	<h2 class="display-6">Weapon Summary</h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Weapon</th>
					<th scope="col">Kills</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for weapon in weaponTotals %}
					<tr>
						<td>{{ weapon.name }}</td>
						<td>{{ weapon.kills | number_format }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2" class="text-center">{{player.name}}
							hasn't used any weapons yet</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<h2 class="display-6">Pickup Summary</h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Pickup Total</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for pickup in pickupTotals %}
					<tr>
						<td>{{ pickup.name }}</td>
						<td>{{ pickup.total | number_format }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2" class="text-center">{{player.name}}
							hasn't picked up any items yet</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<h2 class="display-6">Recent Matches Played</h2>
	{{ include('include/match_list.html.twig', {'showAllLink': true}) }}
{% endblock %}
