{% extends 'base.html.twig' %}

{% set activenav = 'total' %}

{% block title %}
	Totals
{% endblock %}

{% block h1 %}
	Totals
{% endblock %}

{% block body %}
	<div class="table-responsive">
		<table class="table table-hover table-columned">
			<thead>
				<tr>
					<th scope="col">Game Type</th>
					<th scope="col">Score</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Frags: Total number of kills, minus suicides and team kills">F</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Kills: Number of times a player kills another player">K</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Deaths: Number of times a player is killed by another player (or the environment)">D</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Suicides: Number of times a player dies due to their own actions">S</th>
					<th scope="col" data-bs-toggle="tooltip" data-bs-title="Team Kills: Number of times a player kills a player on their own team">TK</th>
					<th scope="col">Matches</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for gametype in totalByGameType %}
					<tr>
						<td>
							<a href="{{ path('gametype', {'slug': gametype.slug}) }}">{{ gametype.name }}</a>
						</td>
						<td>{{ gametype.score | number_format }}</td>
						<td>{{ gametype.frags | number_format }}</td>
						<td>{{ gametype.kills | number_format }}</td>
						<td>{{ gametype.deaths | number_format }}</td>
						<td>{{ gametype.suicides | number_format }}</td>
						<td>{{ gametype.teamKills | number_format }}</td>
						<td>{{ gametype.matches | number_format }}</td>
						<td>{{ gametype.matchTime | humanize_seconds }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="12" class="text-center">No matches have been logged yet</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot class="table-group-divider">
				<tr>
					<td>Totals</td>
					<td>{{ total.score | number_format }}</td>
					<td>{{ total.frags | number_format }}</td>
					<td>{{ total.kills | number_format }}</td>
					<td>{{ total.deaths | number_format }}</td>
					<td>{{ total.suicides | number_format }}</td>
					<td>{{ total.teamKills | number_format }}</td>
					<td>{{ total.matches | number_format }}</td>
					<td>{{ total.matchTime | humanize_seconds }}</td>
				</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}
